# Dependências
node_modules/
*/node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Builds e cache
dist/
.temp/
.cache/
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/