:root {
  --white: #fff;
  --black: #333;
  --black-50: #666;
  --black-20: #999;
  --orange: #f99900;
}

:root {
  --primary-color: var(--orange);
  --color-background: var(--white);
  --color-text: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--white);
  line-height: 1.3;
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
